
body{
	width:100%;
	height:100vh;
	background : linear-gradient(black 0% , black 77%, rgb(153,153,153) 100%);	
}

#bodyA {
    width: 100%;
    height: 100%;
}

#start_1{
	font-size : 32px;
	color:black;
	text-align: center;
	text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
	border:solid 1px black;
	marin:auto;
}
input{
	border-radius : 25px;
	width: 300px;
    height: 42px;
    font-size: 32px;
    text-align: center;
}	

#gameBox{
	margin-top:35px;
	display:none;
}

#textBox{
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
	url('/resources/img/back.jpg');
	background-size:cover;
	width : 70%;
	color:white;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
	height : 750px;
	font-size : 16px;
	text-align : left;
	margin:auto;
	border:solid 3px white;
	display: flex;
    flex-direction: column;
}

#systemText{
	padding-left:10px;
	height:66%;
	overflow: auto;
}

#systemZoomBox{
	height:33%;
	display: flex;
	margin-left:10%;
	margin-right:10%;
}

#char_Profile{
	background: #ffffff57;
	border: 3px solid #e5d5d554;
    width: 22%;
    height: 100%;
    margin-right:10px;
}

#char_Image{
	height: 90%;
}

#char_Nick{
	border : 2px solid #e5d5d554;
	color:white;
	text-align:center;
}

#systemZoomTextBox{
	background: #ffffff57;
	border: 3px solid #e5d5d554;
    width: 75%;
    height: 96%;
    font-size : 25px;
  	padding-left : 10px;
  	padding-right : 10px;
    padding-top: 10px;
}

#subGameBox{
	width : "100%" ;
	height : "980px";
}

/* ITEMBOX CSS */
#itemBox {
	top: 5px;
    width: 107px;
    height: 80px;
    position: absolute;
    z-index: 5;
    display : none;
}

#item {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
    font-size: 30px;
    color: #fff;
}

#item button {
    float: left;
    width: 109px;
    height: 80px;
    font-size: 28px;
    background: #141414;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    border: 2px solid rgb(50, 50, 50);
}

.items {
    width: 105px;
    height: 66px;
    min-height: 62px;
    background: rgba(50, 50, 50, 0.7);
    border: 2px solid rgb(50, 50, 50);
    display: none;
}

.items img {
    cursor: pointer;
    width: 0px;
    height: 62px;
}

li {
    list-style: none;
    position: relative;
}
/* END ITEMBOX CSS */

/* ZOOM CSS */
#zoom {
    position: fixed;
    width: 500px;
    height: 440px;
    border-radius: 20px;
    background: rgba(240, 240, 240, 0.8);
    z-index: 10;
    left: 50%;
    margin-left: -250px;
    top: 50px;
    cursor: pointer;
    display: none;
}

#zoom > img {
    display: none;
}

#key,#box,#paper {
	width: 300px;
    height: 300px;
    position: absolute;
    left: 97px;
}

#keyBox {
	display : none;
}

#boxBox {
	display : none;
}

#keyText{
	text-align:center;
    position: absolute;
    left: 80px;
    font-size: 25px;
    top: 318px;
}

#boxText{
	text-align:center;
    position: absolute;
    left: 9px;
    font-size: 25px;
    top: 318px;
}

#paperText{
	text-align:center;
    position: absolute;
    left: 9px;
    font-size: 25px;
    top: 318px;
}
/* END ZOOM CSS */

